:root {
    --primary-color: #0B1D51;
    --secondary-color: #A4303F;
    --tertiary-color: #D9F7FA;
    --quaternary-color: #506C64;
    --text-color: #22223B;
    --light-color: white;
    --dark-color: black;
    --box-shadow-color: rgba(0, 0, 0, 0.2);
    --border-radius: 15px;
    /*
    #B91116
    #E24622
    #511013
    #841816
    #F8B688
    #E8641C
    #F39200
    #575756
    #9D9D9C
    */
}

/* Reseteo de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuración de colores generales y tipografía */
html, body {
    height: 100%;
    color: var(--text-color);
    background-color: var(--light-color);
    font-family: Montserrat;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}


#main-container {
    flex: 1;
    background-color: var(--light-color);
}

/* Estilos correspondientes a los artículos */
article {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 15px;
    border-radius: var(--border-radius);
    box-shadow: 5px 5px 5px var(--dark-color);
    background-image: none;
    position: relative;
    transition: background-image .4s ease-in;
}

article h1 {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    flex: 1;
}

article h2, h3 {
    padding: 10px;
}

.article-list {
    padding: 10px 50px;
}

.article-list-item {
    padding: 10px 0px;
}

article h1::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 70%;
    background-color: var(--light-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

article p {
    text-align: justify;
    padding: 10px;
    flex: 3;
}

article img {
    margin: auto;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 15px var(--light-color);
}

/* Colores y estilos según la posición de los artículos (basado en su hijo n-th) */
article:nth-child(3n+1) {
    background-color: var(--primary-color);
    color: var(--light-color);
}

article:nth-child(3n+2) {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

article:nth-child(3n+3) {
    background-color: var(--quaternary-color);
    color: var(--light-color);
}

section {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

section h1 {
    flex: 1;
    border: solid var(--primary-color);
    border-radius: 35px;
    padding: inherit;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--light-color);
}

section h2 {
    flex: 1;
    border-radius: 35px;
    padding: inherit;
    text-align: center;
    text-decoration: underline 3px;
}

section p {
    padding-bottom: 10px;
    font-size: large;
}

section ol {
    padding-inline: 20px;
    padding-top: 20px;
}

/* Estilos dedicados a una galería de imagenes fija estilo flex en rows */
.fixed-gallery {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    position: relative;
}

.gallery-card {
    display: flex;
    flex-direction: column;
    border: solid var(--primary-color) 3px;
    border-radius: 50px;
    position: relative;
    flex: 1;
}

.gallery-card:hover .gallery-card-image {
    filter: brightness(50%);
}

.gallery-card:hover .gallery-card-overlay {
    opacity: 1;
    color: var(--light-color);
}

.gallery-card-image {
    flex: 1;
    width: 100%;
    height: 100%;
    border-radius: 45px;
    position: relative;
    object-fit: cover;
}

.gallery-card-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    padding: 10px 20px;
}
/* Estilos de tarjetas que muestran información e imagen */
.info-card-container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}
.info-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-card-canvas{
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
}
figcaption{
    display: flex;
    justify-content: center;    
    width: 200px;
    text-align: center;
}
/* Estilos del contenedor principal que empuja el footer hacia abajo */
#content-container {
    flex: 1;
    margin: 0 20px;
    padding: 20px;
    background-color: var(--light-color);
    color: inherit;
    border: 5px solid var(--primary-color);
    border-radius: var(--border-radius);
    position: relative;
}

