:root {
    --normal-red: #B91116;
    --dim-orange: #E24622;
    --darkest-red: #511013;
    --dark-red: #841816;
    --light-red: #F8B688;
    --normal-orange: #E8641C;
    --yellow: #F39200;
    --dark-gray: #575756;
    --gray: #9D9D9C;
}
/* Encabezado */
header {
    background-color: #706a5c;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    z-index: 100;
    position: sticky;
    transition: all ease-in-out;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.auth-buttons a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}
.nav-link.active {
    border-bottom: 2px solid var(--yellow);
    color: var(--yellow);
}

