/* Contenedor principal del formulario de modificación */
#mod-formulario {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
}

/* Título del formulario de modificación */
.mod-titulo-formulario {
    text-align: center;
    color: #B91116; /* Rojo Pantone */
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.mod-titulo-formulario::after {
    content: '';
    display: block;
    width: 80%;
    height: 3px;
    background-color: red;
    margin: 10px auto 0;
    border-radius: 50%;
}

/* Estilo general para las etiquetas */
.mod-label-input {
    font-weight: bold;
    color: #511013; /* Texto principal */
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

/* Estilo para los campos de texto y selección */
.mod-input-text,
.mod-input-date,
.mod-input-time,
.mod-input-number,
.mod-input-file,
.mod-select-auditorio {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #DDD;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    font-size: 14px;
    color: #511013;
}

/* Botones */
.mod-boton-submit {
    background-color: #F39200;
    border: none;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}

.mod-boton-submit:hover {
    background-color: #E24622;
}

.mod-boton-submit:active {
    background-color: #B91116;
}

/* Imagen del evento en el formulario de modificación */
.mod-event-image {
    width: 200px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Instrucción para subir una nueva imagen */
.mod-image-instruction {
    font-size: 12px;
    color: #511013;
    margin-bottom: 10px;
}

/* Contenedor principal */
#mod-main-content {
    padding: 20px;
}

/* Formulario */
.mod-form-container {
    max-width: 800px;
    margin: 0 auto;
}

/*Estilos para efecto parallax*/
.parallax {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    overflow: visible;
    z-index: -1; /* Mantén esto detrás del contenido */
}

  
  /* Estilos para las capas del parallax */
  .layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: 1; /* Todas las capas tienen menor prioridad */
}

  .layer:nth-child(1) {
    background-image: url('../resources/detalles_resources/FondoParallax.png');
  }
  
  .layer:nth-child(2) {
    background-image: url('../resources/detalles_resources/FondoParallax\(1\).png');
  }
  
  .layer:nth-child(3) {
    background-image: url('../resources/detalles_resources/FondoParallax\(2\).png');
  }
