:root {
    --normal-red: #B91116;
    --dim-orange: #E24622;
    --darkest-red: #511013;
    --dark-red: #841816;
    --light-orange: #F8B688;
    --normal-orange: #E8641C;
    --yellow: #F39200;
    --dark-gray: #575756;
    --gray: #9D9D9C;
}

.boton-regresar {
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    background: linear-gradient(45deg, #F39200, #E24622);
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
    transition: all 0.4s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* Efecto hover */
.boton-regresar:hover {
    background: linear-gradient(45deg, #E24622, #B91116);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

/* Animación al hacer clic */
.boton-regresar:active {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Efecto de brillo */
.boton-regresar::after {
    content: '';
    position: absolute;
    top: -50px;
    left: -50px;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.2);
    opacity: 0;
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.5s;
}

/* Animación del efecto de brillo al hover */
.boton-regresar:hover::after {
    opacity: 1;
    transform: scale(3);
    top: -80px;
    left: -80px;
}

/* Responsividad */
@media (max-width: 600px) {
    .boton-regresar {
        padding: 12px 24px;
        font-size: 16px;
    }

    .icono-regresar {
        width: 18px;
        height: 18px;
    }
}

#main-content {
    flex: 1;
    /* Este elemento toma el espacio restante disponible */
    background-image: linear-gradient(rgba(255, 255, 255, 0) 30%, var(--darkest-red));
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

body {
    display: flex;
    font-family: Arial, sans-serif;
    color: var(--dark-gray);
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    /* Elimina cualquier margen predeterminado */
}

/* Banner Principal */
.banner {
    position: relative;
    color: white;
    text-align: center;
    padding: 100px 20px;
    background-image: url('../resources/banner_header.jpg');
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: visible;
}

.banner h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.banner p {
    font-size: 24px;
    margin-bottom: 40px;
}

.banner .cta-button {
    background-color: var(--yellow);
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

/* Sección de Servicios */
.white-icon {
    color: white;
    width: 150px;
}

.services {
    padding: 60px 20px;
    display: flex;
    justify-content: space-around;
    background-color: var(--light-orange);
}

.service-item {
    text-align: center;
    width: 30%;
}

.service-item img {
    width: 80px;
    height: 80px;
}

.service-item h3 {
    margin-top: 20px;
    color: var(--dark-red);
}

.service-item p {
    margin-top: 10px;
    color: var(--dark-gray);
}

/* Estilo base de las alertas */
.alert {
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

/* Estilo específico para alertas de peligro (rojas) */
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* Estilo específico para alertas de éxito (verde) */
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

/* Estilo específico para alertas de advertencia (amarillo) */
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-contenido {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/*CSS para el estilo del menú desplegable al iniciar sesión*/
.user-menu {
    position: relative;
    display: inline-block;
    z-index: inherit;
}

.user-menu img {
    width: 32px;
    /* Ajuste del tamaño del ícono */
    height: 32px;
    cursor: pointer;
}

.user-menu-content {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.2);
    /* Fondo más oscuro */
    backdrop-filter: blur(15px);
    box-shadow: -2px 0px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 20px;
    transition: transform 0.3s ease;
    transform: translateX(100%);
    /* Inicialmente oculto fuera de la pantalla */
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.8);
}

.user-menu-content.open {
    display: block;
    transform: translateX(0);
    /* Mostrar el menú en pantalla */
}

.user-menu-content a,
.user-menu-content p {
    color: #ffffff;
    /* Texto en blanco */
    padding: 10px 0;
    text-decoration: none;
    display: block;
    text-align: center;
}

.user-menu-content a:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3));
    border-radius: 20px;
}

.content-container {
    position: relative;
    z-index: 100;
    flex: 1; /* Hace que este contenedor crezca para llenar el espacio restante */
    background-color: rgba(255, 255, 255, 0.5); /* Fondo pastel melocotón */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin: 20px auto;
    max-width: 800px;
    font-family: 'Arial', sans-serif;
    color: #511013; /* Texto en burdeos oscuro */
    font-size: 16px;
    line-height: 1.6;
    align-content: center;
    margin-top: 100px;
}


/* Responsividad */
@media (max-width: 768px) {
    .services {
        flex-direction: column;
        align-items: center;
    }

    .service-item {
        width: 80%;
        margin-bottom: 40px;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .auth-buttons {
        display: none;
    }
}

.hover-container-style {
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin: 15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    /* Fondo inicial */
    backdrop-filter: blur(10px);
    border-left: 5px solid #e8421c;
    /* Barra decorativa naranja */
    border-radius: 5px;
    font-weight: bold;
    color: #891116;
    /* Texto en rojo oscuro */
    transition: color 0.3s ease-in-out, border-left-color 0.3s ease-in-out;
}

.hover-container-style::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 5px;
    /* Altura inicial como borde inferior */
    background-color: #e8421c;
    /* Color inicial del borde inferior */
    transition: height 0.3s ease-in-out;
    z-index: -1;

}

.hover-container-style:hover::after {
    height: 100%;
    /* Expande para cubrir todo el botón */
}

.hover-container-style:hover {
    color: #ffffff;
    /* Cambia el color del texto a blanco */
    border-left-color: #ffffff;
    /* Cambia el color de la barra lateral a blanco */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    /* Ocupa toda la altura */
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-3d {
    perspective: 1000px;
    width: 200px;
    height: 300px;
    /* Altura fija */
    margin: 20px;
}

.card-3d:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    /* Ambas caras con la misma altura */
    backface-visibility: hidden;
    border-radius: 12px;
    overflow: hidden;
}

.flip-card-front {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--darkest-red);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.flip-card-front img {
    width: 100%;
    /* Tamaño ajustado */
    height: auto;
    border-radius: 50%;
    border: 4px solid var(--yellow);
    transition: filter 0.5s ease-in-out;
}

.flip-card-front p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.card-3d:hover .flip-card-front img {
    filter: none;
}

.flip-card-back {
    background-color: #F39200;
    color: #ffffff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.flip-card-back p {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}


